<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Customer Rank by orders</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>🏆 Customer Rank by orders</h1>

<p class="nav-link">
  <a href="/sales/add">➕ Add new Sale</a>
</p>

<table>
  <thead>
  <tr>
    <th>Rank</th>
    <th>Customer ID</th>
    <th>cumulative consumption</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="rank: ${ranks}">
    <td th:text="${rank.rank}">1</td>
    <td th:text="${rank.customerId}">1001</td>
    <td th:text="${#numbers.formatDecimal(rank.totalSpent, 0, 'COMMA', 2, 'POINT')}">0</td>
  </tr>
  </tbody>
</table>

<p class="nav-link">
  <a href="/">← Go back to Daily sales</a>
</p>
</body>
</html>
