<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sales Data Adding</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>➕ New sale</h1>
    <form th:action="@{/sales/add}" method="post" class="form-container">
      <div class="form-row">
        <label>Sales date:
          <input type="date" name="saleDate" required />
        </label>
      </div>
      <div class="form-row">
        <label>Customer ID:
          <input type="number" name="customerId" min="1" required />
        </label>
      </div>
      <div class="form-row">
        <label>Price:
          <input type="number" name="amount" min="0" required />
        </label>
      </div>
      <div class="form-actions">
        <button type="submit">Save</button>
        <a href="/" class="cancel-link">Cancel</a>
      </div>
    </form>
</body>
</html>